<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="post" action="/courses/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="videoID" class="form-label">Video ID</label>
      <input
        type="text"
        class="form-control"
        id="videoID"
        name="videoID"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>