<div class="mt-4">
  <h3>Cập nhật khóa học</h3>

  <form method="post" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        value="{{course.description}}"
        id="description"
        name="description"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="videoID" class="form-label">Video ID</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoID}}"
        id="videoID"
        name="videoID"
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>